body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
font-size: 14px;
}

$primary-color: #707070;
$white:#ffffff;
$font-open: 'Open Sans', sans-serif;
$font-sans: 'Source Sans Pro', sans-serif;
$active-font-color:#ff8b92;
$h1:30px;
$h2:28px;
$h3:24px;
$h4:20px;
$h5:16px;
$h6:15px;
$font-wt-600:600;
$gradient-1:linear-gradient(to right, #ff8b92 , #feb683);
$gradient-2:linear-gradient(140deg, #c693f9 , #ac65f4);
$gradient-3:linear-gradient(140deg, #6aa4e3 , #6869e9);
$gradient-4:linear-gradient(to right, #feb683,#ff8b92);


.form-control{
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}
.leftWidget {
  float:left;
}
.rightWidget {
  float:right;
}
.login-box{
  margin: 0 110px;
  float: none;

}
body{
  background: #f5f5f5;
  overflow-x: hidden;
}
.sideBarmenu,.main-header {
  background:$white;
}
.routerView{
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
}
.sideBarmenu{
  min-width: 252px;
    max-width: 202x;
    background: $white;
    transition: all 0.3s;
}
.main-container{
  
  /* margin-left: 210px; */
  width: 100%;
  padding: 20px 20px 0 20px;
  /* min-height: 100vh; */
  transition: all 0.3s;
}
ul{
  margin-bottom: 0 !important;
}
h1{font-size: $h1}
h2{font-size: $h2}
h3{font-size: $h3}
h4{font-size: $h4}
h5{font-size: $h5}
h6{font-size: $h6}
.white-bg{
  background-color: $white;
}
/****************************Login Page************************/

.loginAlign{      background-image: url(../src/assets/images/dashboard_bg.png);
background-repeat: repeat;
background-size: cover;}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.input-group {
  border-bottom: 1px solid #d7d7d7;
  color: #4b4b4b;
  box-shadow: 0 1px 0px 0px #dcdcdc
}
.login-form .input-group .form-control{
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 95%;
  margin-bottom: 0;
}
.leftWidget {
  text-align: center;
}
.header-txt {font-family: $font-sans;}

.s-text{
color:$white;
}
.login-sec{
height: calc(100vh - 0px);
vertical-align: middle;
width: calc(100vw - 0px) !important;
align-items: center;
}
.loader-hide{
display: none;
}

.forget-pwd a{ 

    color: #b5b5b5;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
/* .logo-img img{width: 100px;} */
input:-webkit-autofill {
-webkit-background-fill-color: $white;
-webkit-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color:#707070;
}
input:-moz-autofill {
-moz-background-fill-color: $white;
-moz-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color: #707070;
}
input:-o-autofill {
-o-background-fill-color: $white;
-o-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color: #707070;
}
input:-khtml-autofill {
-khtml-background-fill-color:$white;
-khtml-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color: #707070;
}
/****************************Button Section************************/

.btn{
border-radius:50px !important;
padding:10px 20px  !important;
height: auto !important;
border: none !important;
font-family: $font-open;
}
.btn-primary{
background-color: #ff8b92; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, #ff8b92 , #feb683);
font-size: 15px;
}

/****************************Header Section************************/
li {
  list-style: none;
}
.right-menu ul {
  padding: 0;
  margin: 0;
}
.right-menu ul li.user-det {
  float: left;
  margin-left: 20px;
}

.header-right li{
  float: left;
}
.profile-sec{
  .user-name{
    font-size: 15px;
    color: $primary-color;
  }
}
.header-right{ li {
  margin-left: 10px;
  cursor: pointer;}
  .notify-sec{
    margin-top: 3px;
  }
  a{
    display: block;
  }
}
/****************************Sidebar Section************************/

.sideBarmenu{ 
  li .menu-link{
  color: $primary-color;
  font-size: 17px;
  display: block;
}
.menu-link{
  border-left:8px solid transparent;
  display: block;
  padding: 10px 0;
  font-family: $font-sans;
}
li:hover .menu-link{
  border-image: linear-gradient(180deg,#ff8b92, #feb683) 1;
  border-left: 8px solid #ff8b92;
  color: $active-font-color;
}
.menu-list i{
  background-image: url(../src/assets/images/AgroSprit_menuicons.png);
  background-repeat: no-repeat;
  background-position: -19px -23px;
    width: 24px;
    height: 30px;
    display: inline-block;
    margin: 0 8px;
}
.user_manag i{
  background-position: -19px -92px;
}
.prdt_cate i{ background-position: -19px -381px;}
.product i{ background-position: -19px -301px;}
.order i{ background-position: -19px -513px;}
.coupon i{ background-position: -19px -442px;}
.pay_manag i{ background-position: -19px -161px;}
.report_manag i{ background-position: -19px -230px;}
.faq i{ background-position: -19px -584px;}
.static i{ background-position: -19px -92px;}
li:hover .menu-list i{
  background-position-x: -59px;
}
}
/****************************DashBoard page************************/
.dashboard-bx{
  a{
    color: $white;
    font-family: $font-open;
  }
  a:hover{
    color: $white;
    text-decoration: none;
  }
  span{
    font-size: $h1;
    display: block;
    font-weight: $font-wt-600;
    margin-top:5px;
  }
  .card{
    padding: 35px 25px 0;
    border:none;    
    border-radius: 7px;
    margin-top: 0;
  }
  .box{
    background-position: 173px -3px;
    padding-bottom: 35px;
  }

}

.new-order .card{
  background-image: $gradient-2;
  .box{
    background-image: url(../src/assets/images/Dashboard/neworders-icon.png);
    background-repeat: no-repeat;
    
  }
}
.delivery-order .card{
  background-image: $gradient-3;
  .box{
    background-image: url(../src/assets/images/Dashboard/deliveryorders-icon.png);
    background-repeat: no-repeat;
    
  }
}
.revenue .card{
  background-image: $gradient-1;
  .box{
    background-image: url(../src/assets/images/Dashboard/revenue-icon.png);
    background-repeat: no-repeat;
    
  }
}
.ticket_block{
  //border: 1px solid #ccc;
  border-right-style: inset;
  .profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 21px;
    border: 1px solid #ddd;
    img{
      width: 100%;
      height: auto;
      border-radius: 100px;
    }
  }

 
}
.farm_block {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
}
.centext{
  text-align: center;
  border-radius: 50%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  // width: 40%;
}


.pdl0{padding-left:0px !important; }
.pdr0{padding-right:0px !important; }


.pagination {
  margin: 0 0 1.3rem 0;
    float: right;
}

a,p,small,span{font-family: open sans;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
  background-image: linear-gradient(to right,#cd5200,#b35700);
  background-image: -webkit-linear-gradient(to right,#cd5200,#b35700);
  background-image: -moz-linear-gradient(to right,#cd5200,#b35700);
  border-color: #cd6d00;
}

.mr15{
  margin-right: 15px;
}

.mrl10{
  margin-left:10px
}
.pdl0{padding-left:0px !important; }
.pdr0{padding-right:0px !important; }
.mrr5{margin-right: 5px;}

.search-widget .pt-search-box{
  width: 215px;
  float: left;
}

.t-srch {
  padding: 0 0px 0 5px;
}


/****************************User Management Page************************/

.profile-title{
  text-align: center;
  padding: 9px 0 9px;
}
.title{
  color: #767676;
  font-weight: 500;
  margin: 0;
}
.color-title{
  color: #ff8b92;
  font-weight: 500;
  font-size: 17px;

}
.user-title{
  color: #706d6d;
}
.user-subtitle{
  color: #8C8C8C;
  padding-top: 15px;
}
.sub-farmer{
  border-top-style: outset;
  border-width: 2px;
  height: 50px;
}

.split-farm{
  border-right-style: inset;
  border-width: 2px;
  width:50%;
}
.change-tab {
  border-bottom: 1px inset;
  display:flex;
  padding: 0;
}
.change-tab li {
  padding: 15px 30px;
}
.main-wrapper{
  background-color:#fff;
}
.tab-wrapper{
  margin-top: 10px;
}
.main-tab{
  font-size: 14px;
  padding: 0 20px;
}
.sub-select{
  display: inline-block;
  // padding: 10px;
   border-bottom:3px solid #BA7EF7;
   cursor: pointer;
  
}
.sub-change {
  color: #aaa;
  cursor: pointer;
}

.main-tab .main-panel {
  //border-top: inset;
  margin: 10px 0;
}
.maincentext {
  border-radius: 50%;
  width: 117px;
  height: 123px;
  margin: 12px;
}
.farm-image{
  text-align: center;
  display: block;
}
.farm-title{
  color:#868686;
}
.crop-title{
  position: absolute;
}
.farmer-details{
  font-size:13px;
}
.sub-farm{
  text-align: left;
}
.fa{
  padding: 2%;
}
.farm-card .edit-icon {
  color: #fff;
  background-image: linear-gradient(to right, #ff8b92, #feb683);
  border-radius: 20px;
  border:none;
  padding: 5px 10px;
  position: absolute;
  font-size: 15px;
  top: 15px;
  right: 15px;
}
.map-icon{
  color:#aaa;
}
.plus-icon{
  color:#fff;
  background-image: linear-gradient(to right, #ff8b92, #feb683);
  border: none;
  border-radius: 20px;
  padding: 9px;
  width: 14%;
 // font-size: 14px;

}
.plus-btn{
  padding: 0 0 11px 90px;
  }
.farm-card{
  border-radius: 2px;
  box-shadow:0px 2px 6px rgba(0, 0, 0, 0.3);
   margin-bottom: 20px;
  //margin: 36px 0 32px 40px;
  padding-bottom: 10px;
  position: relative;
}
.farm-tab{
  margin: 20px;
}
.farm-all{
  padding: 15px;
  border: 2px solid #F5F5F5;
}

.farm-block{
  margin-top: 5%;
}
.crop-btn{
  text-align: right;
  margin-top: 13px;
}
// .react-tabs__tab-panel--selected{
//   display: block;
//   margin: 41px 20px 0 54px;
// }
.btn-view{
  border:none;
  background-color: #ffffff;
  color: #706d6d;

}
.right-title{
  padding: 0 0 20px 0;
}
.user-board{
margin: 0 0;
font-size: 14px;
}
.add-user{
  text-align: right;
}
.common-btn{
 color:#fff;
 background-image: linear-gradient(to right, #ff8b92, #feb683);
 border: none;
 border-radius: 20px;
 padding: 6px 17px;
// font-size:14px;
 display: inline-block;
 white-space: nowrap;
// width: 137px;
 margin-left: 0;
}
.filter-btn{
 color:#9EA0A2;
 background-color: #E1E7ED;
 border: 1px solid;
 border-radius: 20px;
// padding: 5px 40px 5px 15px;
padding: 5px 15px 5px 9px;
// max-width: 128px;
// width: 100%;
border-color: #9EA0A2;
// font-size:14px;
width: 137px;
margin-left: 0;

}
.filter-icon{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #717171;
  padding: 5px 15px 5px 1px;
  
}
.search-btn{
  color:#9EA0A2;
  border: none;
  border-bottom: 1px solid #aaa;
  background-color: #F5F5F5;
  // max-width: 166px;
  // width: 100%;
  padding: 7px 15px 7px 35px;
  text-align: left;
  //padding: 7px 13px 7px 1px;
//  font-size:14px;
 width: 202px;
 border-radius: unset;
}

.search-icon{
  padding: 13px 0px 0px 10px;
  position: absolute;
  color: #aaa;
}
.sub-plus{
 padding:5px 7px;
}
.crop-section{
  width: 100%;
}
.crop-table{
  background-color: #fff;

}
// .crop-table .rdt_TableHeader{
//     margin:-18px;    
// }
// .crop-section .rdt_TableBody{
//   border-top: 0px outset;
//   border-bottom:0px inset;
//   border-left:1px outset;
//   border-right:1px inset;
//   //border: 2px solid #F5F5F5;
// }
// // .fetch-user .rdt_TableBody{
// //   border-left:0px ;
// //   border-right:0px ;
// // }
// .crop-table .rdt_TableRow{
//   color: #767676;
// }
// // .crop-table .rdt_TableHead{
// //   padding: 10px;
// // }
// .crop-table .rdt_TableCol_Sortable{
//   color: #000;
//   font-size: 15px;
// }
// .crop-table .rdt_ExpanderRow {
//   padding: 5px;
// }
.rdt_TableCol_Sortable{
  font-size: 15px;
}
.rdt_TableCell{
  font-size: 14px;
}

svg{
  color:#FFA5AB;
}
// .rdt_ExpanderRow:before {
//   font-family: FontAwesome;
//   content : "\f044";
//    display: block;
//    font-size: small;
//    text-align: right;
//    margin-right: 25px;
// }
.crop-data{
  margin-top:10px;
  padding-right: 5px;
}
.row.crop-row{
  margin: 0;
}
.crop-data .pencil-icon{
  float: right;
  font-size:small;
  padding: 0 25px 0 0;
}
.check-icon {
  color: #fff;
  background-color: #FF8C94;
  border-radius: 50px;
  padding: 6px;
}
.book-btn {
  border: none;
  border-radius: 20px;
  // padding: 2px;
  width: 65px;
  font-size: 12px;
  color: #fff;
  background-color: #FF8C94;
  border: none;
  margin: 10px;
 // background-image: linear-gradient(to right, #C064F8, #D795FC);
}
/****************************User Management Page icon************************/
.icon{
 background-image: url("../src/assets/images/Sprite_image.png");
 background-repeat:no-repeat;
 background-position:10px -1345px;
// background-size:202px 2680px;
 text-align: center;
 padding: 15px;
}
.icon1{
  background-image: url("../src/assets/images/Sprite_image.png");
  background-repeat:no-repeat;
  background-position:-10px -1298px;
 // background-size:202px 2680px;
  margin-left: 25px;
  padding: 15px 13px 5px 35px;
 }

/****************************Header-Notification section************************/
 .notify-badge {
  background-color: #FF9190;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5% 5%;
  position: relative;
  right: 10.2px;
  top: -4px;
  float: right;
  display: block;
  font-size: 11px;
}

/****************************Category Management section************************/
// .rdt_TableBody{
//   padding: 10px;
// }
.viewcrop-btn{
  // border: 2px solid #90EE90;
  border:none;
  background-image: linear-gradient(to right, #ff8b92 , #feb683);
  border-radius: 25px;
}

/****************************Dashboard section************************/
.dashboard-table{
  padding: 20px 20px 0 20px
}
.sub-dashboard{
  padding-top:10px;
}
.table th, table td{
  border-top: none;
  color: #9E9E9E;

}
.table thead th{
  border-bottom: 1px solid #dee2e6;
}


/****************************Contact Details************************/
.main-contact{
  padding: 15px 7px 15px 7px;
  margin: 17px 0;
}
.sub-contact{
  margin-bottom: 0;
  padding: 0 0 10px 10px;
  border-bottom: 1px inset;
}
.contact{
  margin: 15px auto;
}
.personal-info{
 border-right: 1px inset;
}
.bottom-section{
  text-align: right;
  margin: 25px 0 11px 0;
}
.bottom-section .btn-default{
 color:#9EA0A2;
 background-color: #E1E7ED;
 border: 1px solid;
 border-radius: 20px;
 padding: 5px 15px 5px 9px;
 border-color: #9EA0A2;
 min-width: 125px;
 margin-left: 0;
 font-size: 15px;
 font-weight: unset;
 margin-right: 15px;
}
.bottom-section .btn-primary{
  font-size: 15px;
  width: 125px;
  font-weight: 700px;
}
.form-control{
  color:#9EA0B7;
}
.form-group{
  color: #808080;
  font-size: 14px;
}
.form-control::placeholder {
  color: #9EA0B7;
  font-size: 13px;
}

/****************************List Crop************************/
.form-search{
  display: flex
}
.reset-btn{
  border: none;
  background-color: #F5F5F5;
  text-align: inherit;
  color: #aaa;
  padding: 13px 0px 0px 10px;
}
.sub-search{
  display: contents;
}
 .search-label{
  color: #aaa;
}

/****************************Create Crop IMAGE PREVIEW************************/

.pre-view {
  border: 1px #ddd;
  border-radius: 8px;
  width: 150px;
  height: 117px;
  margin-top: 12px;
}

.pre-view:hover {
  box-shadow: 0 0 3px 1px #FE988D;
}

/****************************Retailer Section************************/
.view-map{
  text-align:center;

}
.retailer-image {
  width: 100%;
  height: 200px;

}
.retailer-edit{
  color: #fff;
    background-image: linear-gradient(to right, #ff8b92, #feb683);
    border-radius: 50px;
    position: absolute;
    padding: 8px 9px 8px 9px;
    font-size: 14px;
    right: 15px;
  //  bottom: 25px;
}
.retailer-title{
  color: #7D7D7D;
  font-weight: 600;
  font-size: 15px;
}

/****************************Price Section************************/
.sub-price{
  padding-top: 28px;
}
.add-price{
  margin:auto;
}

/****************************Pagination Section************************/

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  cursor: pointer;
}
.pagination>li {
  display: inline;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 5px 10px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #ff8b92;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-image:  linear-gradient(to right, #ff8b92 , #feb683);
  background-image: -moz-linear-gradient(to right, #ff8b92 , #feb683);
  border-color: #feb683;
  color:#fff;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
