body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;

}

$primary-color: #707070;
$white:#ffffff;
$font-open: 'Open Sans', sans-serif;
$font-sans: 'Source Sans Pro', sans-serif;
$active-font-color:#ff8b92;
$h1:30px;
$h2:28px;
$h3:24px;
$h4:20px;
$h5:18px;
$h6:16px;
$font-wt-600:600;
$gradient-1:linear-gradient(to right, #ff8b92 , #feb683);
$gradient-2:linear-gradient(140deg, #c693f9 , #ac65f4);
$gradient-3:linear-gradient(140deg, #6aa4e3 , #6869e9);
$gradient-4:linear-gradient(to right, #feb683,#ff8b92);


.form-control{
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}
.leftWidget {
  float:left;
}
.rightWidget {
  float:right;
}
.login-box{
  margin: 0 110px;
  float: none;

}
body{
  background: #f5f5f5;
}
.sideBarmenu,.main-header {
  background:$white;
}
.routerView{
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
}
.sideBarmenu{
  min-width: 252px;
    max-width: 202x;
    background: $white;
    transition: all 0.3s;
}
.main-container{
  
  /* margin-left: 210px; */
  width: 100%;
  padding: 20px;
  /* min-height: 100vh; */
  transition: all 0.3s;
}
ul{
  margin-bottom: 0 !important;
}
h1{font-size: $h1}
h2{font-size: $h2}
h3{font-size: $h3}
h4{font-size: $h4}
h5{font-size: $h5}
h6{font-size: $h6}
.white-bg{
  background-color: $white;
}
/****************************Login Page************************/

.loginAlign{      background-image: url(../src/assets/images/dashboard_bg.png);
background-repeat: repeat;
background-size: cover;}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.input-group {
  border-bottom: 1px solid #d7d7d7;
  color: #4b4b4b;
  box-shadow: 0 1px 0px 0px #dcdcdc
}
.login-form .input-group .form-control{
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 95%;
  margin-bottom: 0;
}
.leftWidget {
  text-align: center;
}
.header-txt {font-family: $font-sans;}

.s-text{
color:$white;
}
.login-sec{
height: calc(100vh - 0px);
vertical-align: middle;
width: calc(100vw - 0px) !important;
align-items: center;
}
.loader-hide{
display: none;
}

.forget-pwd a{ 

    color: #b5b5b5;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
/* .logo-img img{width: 100px;} */
input:-webkit-autofill {
-webkit-background-fill-color: $white;
-webkit-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color:#707070;
}
input:-moz-autofill {
-moz-background-fill-color: $white;
-moz-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color: #707070;
}
input:-o-autofill {
-o-background-fill-color: $white;
-o-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color: #707070;
}
input:-khtml-autofill {
-khtml-background-fill-color:$white;
-khtml-box-shadow: 0 0 0px 1000px white inset !important;
-webkit-text-fill-color: #707070;
}
/****************************Button Section************************/

.btn{
border-radius:50px !important;
padding:10px 20px  !important;
height: auto !important;
border: none !important;
font-family: $font-open;
}
.btn-primary{
background-color: #ff8b92; /* For browsers that do not support gradients */
background-image: linear-gradient(to right, #ff8b92 , #feb683);
}

/****************************Header Section************************/
li {
  list-style: none;
}
.right-menu ul {
  padding: 0;
  margin: 0;
}
.right-menu ul li.user-det {
  float: left;
  margin-left: 20px;
}

.header-right li{
  float: left;
}
.profile-sec{
  .user-name{
    font-size: 15px;
    color: $primary-color;
  }
}
.header-right{ li {
  margin-left: 10px;
  cursor: pointer;}
  .notify-sec{
    margin-top: 3px;
  }
  a{
    display: block;
  }
}
/****************************Sidebar Section************************/

.sideBarmenu{ 
  li .menu-link{
  color: $primary-color;
  font-size: 17px;
  display: block;
}
.menu-link{
  border-left:8px solid transparent;
  display: block;
  padding: 10px 0;
  font-family: $font-sans;
}
li:hover .menu-link{
  border-image: linear-gradient(180deg,#ff8b92, #feb683) 1;
  border-left: 8px solid #ff8b92;
  color: $active-font-color;
}
.menu-list i{
  background-image: url(../src/assets/images/AgroSprit_menuicons.png);
  background-repeat: no-repeat;
  background-position: -19px -23px;
    width: 24px;
    height: 30px;
    display: inline-block;
    margin: 0 8px;
}
.user_manag i{
  background-position: -19px -92px;
}
.prdt_cate i{ background-position: -19px -381px;}
.product i{ background-position: -19px -301px;}
.order i{ background-position: -19px -513px;}
.coupon i{ background-position: -19px -442px;}
.pay_manag i{ background-position: -19px -161px;}
.report_manag i{ background-position: -19px -230px;}
.faq i{ background-position: -19px -584px;}
.static i{ background-position: -19px -92px;}
li:hover .menu-list i{
  background-position-x: -59px;
}
}
/****************************DashBoard page************************/
.dashboard-bx{
  a{
    color: $white;
    font-family: $font-open;
  }
  a:hover{
    color: $white;
    text-decoration: none;
  }
  span{
    font-size: $h1;
    display: block;
    font-weight: $font-wt-600;
    margin-top:5px;
  }
  .card{
    padding: 35px 25px 0;
    border:none;    
    border-radius: 7px;
    margin-top: 0;
  }
  .box{
    background-position: 173px -3px;
    padding-bottom: 35px;
  }

}

.new-order .card{
  background-image: $gradient-2;
  .box{
    background-image: url(../src/assets/images/Dashboard/neworders-icon.png);
    background-repeat: no-repeat;
    
  }
}
.delivery-order .card{
  background-image: $gradient-3;
  .box{
    background-image: url(../src/assets/images/Dashboard/deliveryorders-icon.png);
    background-repeat: no-repeat;
    
  }
}
.revenue .card{
  background-image: $gradient-1;
  .box{
    background-image: url(../src/assets/images/Dashboard/revenue-icon.png);
    background-repeat: no-repeat;
    
  }
}
.ticket_block{
  border: 1px solid #ccc;
  .profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ddd;
    img{
      width: 100%;
      height: auto;
      border-radius: 100px;
    }
  }

 
}
.farm_block {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
}
.centext{
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}


.pdl0{padding-left:0px !important; }
.pdr0{padding-right:0px !important; }


.pagination {
  margin: 0 0 1.3rem 0;
    float: right;
}

a,p,small,span{font-family: open sans;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
  background-image: linear-gradient(to right,#cd5200,#b35700);
  background-image: -webkit-linear-gradient(to right,#cd5200,#b35700);
  background-image: -moz-linear-gradient(to right,#cd5200,#b35700);
  border-color: #cd6d00;
}

.mr15{
  margin-right: 15px;
}

.mrl10{
  margin-left:10px
}
.pdl0{padding-left:0px !important; }
.pdr0{padding-right:0px !important; }
.mrr5{margin-right: 5px;}

.search-widget .pt-search-box{
  width: 215px;
  float: left;
}

.t-srch {
  padding: 0 0px 0 5px;
}


