
$background: #f5f5f5;
$primary-color: #707070;
$secondary-color:#bebebe;
$inset-color:#EEEEEE;
$white:#ffffff;
$black:#000;
$active-font-color:#ff8b92;
$icon-color:#FF8C94;
$notify-icon:#FF9190;
$forget-pwd:#b5b5b5;
$input-form:#495057;
$form-color:#9EA0B7;
$form-group:#808080;
$hover-focus:#FE988D;
$input-bg:#e9ecef;
$input-status:#ced4da;
$default:#E1E7ED;
$btn-text:#9EA0A2;
$btn-view:#706d6d;
$tooltip-color:#6a7a99;
$place-color:#BA68C8;
$process-color:#5DADE2;
$ship-color:#FFD64F;
$center-color:#EB984E;
$delivered-color:#F06292;
$red:#d82525;
$reject-red:#EF4A4A;
$disable:#EF531D;
$green:#359123;
$accept-green:#1CCE46;
$dark-sea-green:#8FBC8F;
$gray:#ccc;
$light-gray:#aaa;
$dull-gray:#ddd;
$tintin-gray:#b0b0b0;
$orange:#ff7b00;
$page-orange:#cd6d00;
$light-orange: #feb683;
$step-border:#e9e9e9;
$step-bg: rgba(0,0,0,.12);
$step-color:#6c757d;
$select-border:#BA7EF7;
$pale-violet-red:#DB7093;
$trans-purple:#f4b0c7;
$deep-sea-blue:#82CAFF;
$sea-blue:#18c8c9;
$table-border:#dee2e6;
$graph-color:#697a99;
$farm-title:#868686;
$retailer-title:#7D7D7D;
$new-order:#b2b2b2;
$img-box-border:#CBCBCB;
$credit-btn:#77a8a8;
$light-brown:#D6AD60;
$gray-overlay:rgba(0,0,0, 0.4);
$card-boxshadow: rgba(0,0,0,0.2);
$main-boxshadow:2px 2px 3px 1px rgba(220, 220, 220, 0.5);
$farm-boxshadow:0px 2px 6px rgba(0, 0, 0, 0.3);
$sidebar-active: linear-gradient(180deg,#ff8b92, #feb683) 1;
$gradient-1:linear-gradient(to right, #ff8b92 , #feb683);
$gradient-2:linear-gradient(140deg, #c693f9 , #ac65f4);
$gradient-3:linear-gradient(140deg, #6aa4e3 , #6869e9);
$gradient-4:linear-gradient(to right, #feb683,#ff8b92);
$gradient-5:linear-gradient(to right, #59d56a,#7fe49d);
$gradient-6:linear-gradient(to right, #ffcc4f,#ffdc4f);
$gradient-7:linear-gradient(to right,#cd5200,#b35700); 
$gradient-webkit:-webkit-linear-gradient(to right,#cd5200,#b35700);
$gradient-moz-1:-moz-linear-gradient(to right,#cd5200,#b35700);
$gradient-moz-2:-moz-linear-gradient(to right, #ff8b92 , #feb683);